<% provide(:title, 'Contact Us') %>
<div class="hero-unit">
  <h1>Contact Us</h1>
  <h2>
    This is the base template for the <a href="http://breedercms.herokuapp.com">Breeder CMS</a> application.
  </h2>
</div>
<div>
  <p>A contact form will be placed here that will generate an email to the owner.</p>
</div>

