<div class="center hero-unit">
  <h1>Breeder CMS</h1>
  <h2>
    This is the base template for the <a href="http://breedercms.herokuapp.com">Breeder CMS</a> application.
  </h2>

</div>

<%= link_to image_tag("rails.png", alt: "Created with Ruby on Rails"), "http://rubyonrails.org/" %>

