<div class="center hero-unit">
  <h1>Breeder CMS</h1>
  <h2>
    This is the base template for the <a href="http://breedercms.herokuapp.com">Breeder CMS</a> application.
  </h2>

</div>

<p>This is the place to catch visitors' attention. Put pictures of pups and dogs that will attract
their attention and make them wish to visit the rest of the site.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel iaculis ligula. Suspendisse ac
erat diam. Proin viverra ante vitae erat tincidunt pharetra. Quisque congue mi orci, eget sollicitudin 
nisl elementum eget. Vestibulum consequat dui ligula, eget mattis ante commodo in. In faucibus vestibulum 
metus sit amet viverra. Vivamus ut viverra augue. Cras in nisi egestas, feugiat lorem ac, luctus lacus. 
Suspendisse odio ipsum, bibendum ut mattis at, dictum consequat odio. Nulla luctus et purus ut feugiat. 
Quisque scelerisque molestie imperdiet. Nam at sagittis arcu. Phasellus ultricies, ligula nec ultrices 
pretium, ipsum justo pellentesque diam, vitae dictum neque magna et leo. Vestibulum ornare augue sit amet 
dictum pulvinar. Aenean mollis, nisi eget gravida fringilla, massa risus varius nisi, vitae blandit purus 
nulla at ligula. </p>

<p>Aliquam erat volutpat. In et nulla aliquam, tincidunt nunc ac, cursus nunc. Donec erat turpis, ultricies 
imperdiet nibh sed, tempor hendrerit odio. Quisque egestas consectetur sem ac aliquam. Proin pretium nisl 
nisi, vitae elementum est adipiscing non. Sed a quam dignissim, tempor leo in, tristique velit. Donec quis 
magna elit. </p>

<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi purus nisi, sodales id tincidunt et, 
interdum ac massa. Cras sed leo tincidunt, hendrerit est feugiat, pulvinar eros. Nunc mauris felis, rutrum 
quis nibh faucibus, egestas accumsan magna. Cras auctor orci ac sollicitudin interdum. Aenean at viverra 
ligula, eu mattis augue. Curabitur scelerisque cursus nisi, ut sodales dui pretium in. Nam quis sem sed augue 
rhoncus elementum hendrerit a felis. In hac habitasse platea dictumst. </p>

<p>Curabitur non elit nec dolor faucibus mattis nec non neque. Lorem ipsum dolor sit amet, consectetur
adipiscing elit. In ullamcorper, libero sit amet auctor hendrerit, nulla ligula placerat metus, vitae pulvinar 
turpis felis non tellus. Aliquam dignissim leo et sodales ornare. Donec eros dolor, auctor vel volutpat vel, 
bibendum at orci. Pellentesque ut porttitor nibh, fringilla euismod magna. Integer tincidunt, mi et cursus 
pharetra, eros erat faucibus lacus, quis hendrerit dolor est eu risus. </p>
