<div class="center hero-unit">
  <h1>Sundown Siberian Huskies</h1>
  <h2>Welcome</h2>
</div>
<div class="container">
  <p>Thank you for visiting Sundown Siberian Huskies. We are new breeders in the 
  Catskill Mountains. We have just begun breeding, and are expecting our first 
  litter any day now.</p>

  <p><em>More content should be placed here. Perhaps random pictures of Tapanga and Kal-el.</em></p>

  <p>For more information about us, please see the <%= link_to "About Us", about_path %> page.</p>
</div>
