<% provide(:title, @static_page.title) %>
<div>
  <h1><%= @static_page.title %></h1> 
  <h2><%= @static_page.subtitle %></h2>
</div>
<div>
  <%= sanitize @static_page.content %>
</div>
<div>Last Updated <%= @static_page.updated_at %></div>
