<li>
  <div><%= link_to litter.father.name, pet_path(litter.father) %></div>
  <div><%= link_to litter.birth_date, litter_path(litter) %></div>
  <div><%= pluralize(litter.males, "male") %></div>
  <div><%= pluralize(litter.females, "female") %></div>
</li>
