<% provide(:title, "Our #{SiteSettings.breed.titlecase.pluralize}") %>
<div class='hero-unit'>
  <h1>Our <%= SiteSettings.breed.titlecase.pluralize %></h1>
</div>
<div>
  <% @pets.each do |p| %>
    <%= render p %>
  <% end %>
</div>
