<% provide(:title, "Our Pets") %>

<h1>Our Pets</h1>

<section class='hero-unit'>
  <% @pets.each do |p| %>
    <div class='pet-block pull-left'>
      <!--<span></span>-->
      <%= image_tag p.profile_picture.thumb.url, class: 'img-thumbnail' %>
      <br />
      <caption><%= p.name %></caption>
    </div>
  <% end %>
</section>
