<% provide(:title, "Our #{SiteSettings.breed.titlecase.pluralize}") %>
<div class='hero-unit'>
  <h1>Our <%= SiteSettings.breed.titlecase.pluralize %></h1>
</div>
<div>
  <% @pets.each do |p| %>
    <div class="col-md-4" style="padding:15px; text-align: center;">
      <%= link_to(p) do %>
        <div class='pet-block'>
          <%= image_tag p.profile_picture.thumb.url, class: 'img-thumbnail' %>
          <br />
          <caption><%= p.name %></caption>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
