<% provide(:title, "Register Pet") %>

<h1>Register Pet</h1>
<h2>Register a new pet.</h2>

<section class="center hero-unit">

  <div>We need to create a form to go here that will allow the creation
  of a new pet. This form will be specifically for adding pets that are
  <em>not</em> part of a litter.</div>
  
  <div>I can add more content using code writer and then view the
  results in IE 11!</div>
</section>
