<% provide(:title, @pet.name) %>

<h1><%= @pet.name %></h1>
<h2>(born <%= @pet.birth_date %>)</h2>
<div class="content">
  <div class="profile">
    <%= link_to image_tag(@pet.profile_picture.thumb.url), @pet.profile_picture_url, target: '_blank' %>
  </div>
</div>
