// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.pet-block {
  width: 300px;
  height: 300px;
  margin: 15px;
  padding: 6px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: $gray-light;
  border-radius: 5px;
  :hover {
    background-color: $brand-primary;
  }
  * {
    vertical-align: middle;
  }
  span {
    display: inline-block;
    height: 100%;
    width: 1px;
  }
}

